.header {
  height: 64px;
  background-color: #685AD6;
  color: #ffffff;

  border-bottom: none;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 2rem;
}