.header {
  height: 64px;
  background-color: #685AD6;
  color: #ffffff;

  border-bottom: none;
  padding: 0 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header li {
  display: inline;
}

.header a,
.header button {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: opacity 0.2s;
  cursor: pointer;
}

.header button {
  background-color: #ffffff;
  color: #685AD6;
  border: 1px solid #ffffff;
  border-radius: 30px;
  font-family: inherit;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  transition: all 0.3s ease;
}

.header a:hover {
  opacity: 0.8;
  text-decoration: underline 1px;
  text-underline-offset: 6px;
}

.header button:hover {
  background-color: transparent;
  color: #ffffff;
}