.auth-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.auth-card {
  width: 320px;
  background-color: #e5e5e5;
  border-radius: 16px;
  padding: 1.5rem;
}

.auth-tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.auth-tabs button {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 0.25rem;
}

.auth-tabs .active {
  border-bottom: 2px solid #685AD6;
  color: #685AD6;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.auth-description {
  font-size: 0.875rem;
}

.auth-form input {
  padding: 0.6rem;
  border-radius: 8px;
  border: none;
}

.auth-link {
  font-size: 0.75rem;
  text-align: right;
}

.auth-divider {
  text-align: center;
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.auth-provider {
  background: white;
  border-radius: 8px;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.auth-submit {
  margin-top: 0.5rem;
  background-color: #685AD6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem;
  cursor: pointer;
}
