.icon-button {
  border: none;
  border-radius: 40px;
  padding: 12px 24px;
  min-width: 32px;
  min-height: 32px;
  font-size: 0.875rem;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--purple-light);
  color: var(--white);
}

.icon-button-icon {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-shrink: 0;
}

.icon-button-icon svg {
  width: 18px;
  height: 18px;
  stroke-width: 1.5;
}

.icon-button-text {
  display: flex;
  align-items: center;
}

.icon-button--primary {
  background-color: var(--purple-light);
  color: var(--text-dark);
  border: 1px solid var(--purple-medium);
}

.icon-button--primary:hover {
  background-color: var(--purple-primary);
  color: var(--white);
  box-shadow: 0 4px 12px rgba(91, 79, 207, 0.3);
}

.icon-button--primary:active {
  background-color: var(--purple-medium);
  transform: scale(0.98);
}

.icon-button--secondary {
  background-color: transparent;
  color: var(--text-dark);
  border: 2px solid var(--gray-medium);
}

.icon-button--secondary:hover {
  border-color: var(--gray-dark);
  color: var(--text-dark);
  background-color: var(--gray-light);
}

.icon-button--secondary:active {
  transform: scale(0.98);
}

.icon-button--withdraw {
  background-color: transparent;
  color: var(--is-inactive-red);
  border: 2px solid var(--is-inactive-red);
}

.icon-button--withdraw:hover {
  background-color: var(--red-pale);
  border-color: var(--red);
  color: var(--red);
}

.icon-button--withdraw:active {
  transform: scale(0.98);
}

.icon-button:disabled,
.icon-button.disabled {
  background-color: var(--gray-light);
  color:var(--gray-medium);
  border-color: var(--gray-light);
  cursor: not-allowed;
  opacity: 0.7;
  pointer-events: none;
  transform: none;
  box-shadow: none;
}

.icon-button--rating {
  border-radius: 12px;
  background-color: transparent;
  color: var(--text-dark);
  border: 2px solid var(--gray-light);
}

.icon-button--rating:hover {
  border-color: var(--rating-yellow-medium);
  color: var(--text-dark);
  background-color: var(--rating-yellow);
}

.icon-button--rating:active {
  transform: scale(0.98);
  background-color: var(--rating-yellow);
}

.icon-button--capacity {
  padding: 4px;
  max-width: 8px;
  max-height: 8px;
  border-radius: 40px;
  background-color: transparent;
  color: var(--text-dark);
  border: 2px solid var(--gray-light);
}

.icon-button--capacity:hover {
  border-color: var(--purple-primary);
  color: var(--text-dark);
  background-color: var(--purple-light);
}

.icon-button--capacity:active {
  transform: scale(0.98);
}
