.rating {
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-medium);
  font-weight: 500;
}

.rating-star {
  flex-shrink: 0;
}

.rating-text {
  display: flex;
  align-items: center;
}

.rating-stars-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.submit-rating-btn {
  margin-top: 16px;
  justify-content: center;
}